body {
  /* margin: 0;
  padding: 0; */
  background-color: cadetblue;
}

h1 {
    background-color: antiquewhite;
    width: 1340px;
    height: 100%;
    padding: 20px 0;
    border: 5px solid salmon;
    border-radius: 30px;

    text-align: center;
}